*{
    margin: 0;
    padding: 0;
}


.furnitures img{
    margin-top: 20px;
    margin-left: 20px;
    
    float: left;
}

.menu{
   
    float: left;
    height: 90px;
    margin-left: 10px;
    margin-top: 10px;
    
    
}
ul{
    float: right; 
    
    list-style-type:none;
   font-size: 18px;
   margin-left: 20px;
   min-height: 400px;
   
}
ul li{
    list-style: none;
    margin-left: 30px;
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
    
}

ul li a{
    text-decoration: none;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 10px;
    
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color:#Ffa500;
    border-bottom: 2px solid #Ffa500;
    
}
.search{
    width: 600px;
    float: left;
    margin-left: 500px;
    margin-top: 30px;

}
.srch{
    font-family: 'Times New Roman';
    width: 400px;
    height: 30px;
    background:transparent;
    border: 1px solid brown;
    margin-top: 10px;
    color: black;
    border-right: none;
    font-size: 15px;
    float: left;
    padding: 10px;
    border-radius: 5px;
    

}
::placeholder{
    color: black;
    font-family: Arial;
    
}
.srch:hover{
    background-color: azure;
}
    

.btn{
    font-family: 'Times New Roman';
    text-align: center;
    width: 100px;
    height: 30px;
    background:#e0ebeb;
    border: 2px solid brown;
    margin-top: 10px;
    margin-bottom: 20px;
    color:black;
    font-size: 15px;
    float: left;
    padding: 2px;
    font-weight: bold;
    cursor: alias;
    transition: .3s ease;
    border-radius:5px ;
    cursor: pointer;
}
.btn:hover{
    background-color:blanchedalmond;
}


.topimg {
    
    margin-left: 20px;
    margin-top: 20px;
    
    cursor: pointer;
    float: left;
    margin-right: none;
    
    
}
.column img{
    width: 650px;
    height: 400px;
    margin-left: 20px;
     
}
.column:hover{
    border: 2px red solid;
}
.par{
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    float: right;
    height: 60px;
    font-style: bold;
    color: black;
    margin-right: 630px;
    margin-top: 50px;
    
}
.toppicks {
    margin-left: 30px;
    float: left;
    margin-top: 10px;
    cursor: pointer;
    width: 1400px;
}
.c2 img{
    margin-top: 10px;
    cursor: pointer;
    float: left;
    margin-right: none;
    margin-left: 20px;
    width: 400px;
    height: 300px;
    
}
.c2:hover{
    border: 2px red solid;
}
.par2{
    font-size: 20px;
    font-family: Arial;
    text-align: center;
    margin-right: 600px;
    height: 60px;
    font-style: bold;
    color: black;
    float: right;
    margin-top: 20px;
    
}
.c3 img{
    margin-top: 10px;
    cursor: pointer;
    float: left;
    margin-right: none;
    margin-left: 30px;
    width: 400px;
    height: 300px;
    
}
.c3:hover{
    border: 2px red solid;
}



